<configuration>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${user.home}/myApp.log</file>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n
			</Pattern>
		</layout>
	</appender>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n
			</Pattern>
		</layout>
	</appender>
	<logger name="org.motion.ballsim.Quadratic" level="OFF" />
    <logger name="org.motion.ballsim.Quartic" level="OFF" />
    <logger name="org.motion.ballsim.Collision" level="OFF" />
    <logger name="org.motion.ballsim.Table" level="OFF" />
    <root level="INFO">
		<!-- appender-ref ref="FILE" / -->
		<appender-ref ref="STDOUT" />
	</root>
</configuration>